<body>
  <table class="card" style="width: 100%;
    padding: 2em;
    background-color: #161728;
    color: #DDDDDD;
    border-spacing : 2em;
    ">
    <tbody class="recover">
      <tr>
        <td>
          <h1>왕눈이 회원가입을 환영합니다!</h1>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            아래 인증코드를 입력해주세요
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="font-size : 20px"><%= token %></p>
        </td>
      </tr>
    </tbody>
  </table>
</body>